<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Unica+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../css/bitup.css">
  <link rel="stylesheet" href="../css/main.css">



  <title>Document</title>
</head>

<body>
  <header id="menu" class="fixed-top">
    <ul class="nav justify-content-center">
      <li class=" titleTipeado d-block d-sm-none">TUNA FEMENINA DE SAN MARCOS</li>
      <li class="nav-item text-white d-none d-sm-block">
        <p id="caja" class="text-center title"></p>
      </li>
    </ul>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-warning btn-sm  ml-3  text-white" href=""> Contratos</a>
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-warning btn-sm  ml-3 text-white" href=""> Participa</a>
      </li>
    </ul>
    <ul class="nav justify-content-center  ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nosotras</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#Reseña">Reseña e Historia</a>
          <a class="dropdown-item" href="#vision">Mision y Vision</a>
          <a class="dropdown-item" href="#familia">Ahijadas</a>
          <a class="dropdown-item" href="#bitup">Certamen-Bitup</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Vida de tuna</a>

      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Presentaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">La Bitup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Contacto</a>
      </li>
    </ul>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="contenedor">
    <div class="adorno1-1">
      <img src="https://gallery.mailchimp.com/918a55afcb7ff18e533d4b663/images/4c9006cc-71bc-48b4-8484-e5a1114a9e03.png">
    </div>
    <div class="adorno1-2">
      <img src="https://gallery.mailchimp.com/918a55afcb7ff18e533d4b663/images/4c9006cc-71bc-48b4-8484-e5a1114a9e03.png">
    </div>

    <div class="adorno2-1">
      <img src="https://gallery.mailchimp.com/918a55afcb7ff18e533d4b663/images/e58e6aeb-c971-4f5b-b664-926bb0087e1f.png">
    </div>
    <div class="adorno2-2">
      <img src="https://gallery.mailchimp.com/918a55afcb7ff18e533d4b663/images/e58e6aeb-c971-4f5b-b664-926bb0087e1f.png">
    </div>
    <div class="adorno3">
      <img src="https://gallery.mailchimp.com/918a55afcb7ff18e533d4b663/images/e335367f-a099-47a2-9678-444fc63817f8.png">
    </div>
    <div class="contenido">

      <div class="banner">
        <h1 class="ribbon ">
          <strong class="ribbon-content ">
            <p class="p1">Cuenta regresiva para</p>
            <p class="p2">BITUP 2019</p>
          </strong>
        </h1>
      </div>

      <div class="contador">
        <div class="responsivo1">
          <div class="cartel">
            <div id="dias"></div>
            <div class="h3">
              <h3>Días</h3>
            </div>
          </div>

          <div class="dospuntos desaparecer2">
            <p>:</p>
          </div>

          <div class="cartel">
            <div id="horas"></div>
            <div class="h3">
              <h3>Horas</h3>
            </div>
          </div>
        </div>
        <div class="dospuntos desaparecer">
          <p>:</p>
        </div>
        <div class="responsivo2">
          <div class="cartel">
            <div id="minutos"></div>
            <div class="h3">
              <h3>Minutos</h3>
            </div>
          </div>

          <div class="dospuntos desaparecer2">
            <p>:</p>
          </div>

          <div class="cartel">
            <div id="segundos"></div>
            <div class="h3">
              <h3>Segundos</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="adorno4">
        <img src="../assets/images/logo.png">
        <br>
        <br>
        <p>TUNA FEMENINA DE SAN MARCOS </p>
      </div>
    </div>
  </div>
  <br>
  <br>

  <section class=" bitup container-fluid">
    <br>
    <br>
    <div id="bitup" class="row">
      <h3 class="titleVision text-center col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">La Bitup</h3>
      <br>

      <p class=" text-white textVision col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> La Bienal Internacional de Tunas Perú (BITUP) es un certamen de musica internacional, organizado por la Tuna Femenina
        de San Marcos, tiene como objetivo promover, a nivel local y nacional, tradiciones culturales universitarias. Igualmente
        difundir la interpretación y valoración de la música peruana entre las nuevas generaciones. Además de reflexionar
        sobre la equidad y la participación de la mujer en las actividades artísticas culturales en el Perú.</p>
    </div>
    <div class="row">
      <iframe class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" width="450" height="205" src="https://www.youtube.com/embed/Illgm-rxiRs"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" width="450" height="205" src="https://www.youtube.com/embed/SFUHEwRUJxM"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4" width=" 450 " height="205 " src="https://www.youtube.com/embed/Xkz_sOCqef8
        " frameborder="0 " allow="autoplay; encrypted-media " allowfullscreen></iframe>
    </div>

    <br>
    <br>
    <br>
    <br>


  </section>
  <hr class="lineaFinal">




  <footer class="footer container-fluid">

    <div class="row">
      <div class=" col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <img class="logo" src="../assets/images/logo.png" alt="logotuna">
      </div>
      <div class="col-9 col-sm-9 col-md-9  col-lg-9 col-xl-9">
        <p class="FooterContacto ">
          <a href=""> Contáctanos</a>
        </p>

      </div>
    </div>

  </footer>
  <!--REDES SOCIALES-->


  <article class="contenedor-redes-sociales">
    <div class="icono">
      <a href="https://www.facebook.com/tunafemeninasanmarcos/" class="icono-primary" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.twitter.com/FormandoLaWeb" class="icono-primary color-twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.instagram.com/tunamujeres/" class="icono-primary color-googleplus" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </article>



  <!-- Compiled and minified JavaScript -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>
  <script src="../js/app.js "></script>
  <script src="../js/bitup.js"></script>
</body>