<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Unica+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../main.css">
  <link rel="stylesheet" href="../css/life.css">
  <link rel="stylesheet" href="../css/contacto.css">
</head>

<style>
  /* Set the size of the div element that contains the map */

  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 70%;
    /* The width is the width of the web page */
  }
</style>

<body>
  <header id="menu" class="fixed-top">
    <ul class="nav justify-content-center">
      <li class=" titleTipeado d-block d-sm-none">TUNA FEMENINA DE SAN MARCOS</li>
      <li class="nav-item text-white d-none d-sm-block">
        <p id="caja" class="text-center title"></p>
      </li>
    </ul>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-warning btn-sm  ml-3  text-white" href=""> Contratos</a>
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-warning btn-sm  ml-3 text-white" href=""> Participa</a>
      </li>
    </ul>
    <ul class="nav justify-content-center  ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nosotras</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#Reseña">Reseña e Historia</a>
          <a class="dropdown-item" href="#vision">Mision y Vision</a>
          <a class="dropdown-item" href="#familia">Ahijadas</a>
          <a class="dropdown-item" href="#bitup">Certamen-Bitup</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Vida de tuna</a>

      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Presentaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">La Bitup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Contacto</a>
      </li>
    </ul>
  </header>

  <section class="container-fluid imageContacto">
    <div class="opacity">
      <p class="center-align principalTexto">CONTÁCTANOS </p>
      <P class="center-align secundaryTexto">GRACIAS POR TU INTERÉS EN LA TUNA FEMENINA DE SAN MARCOS!</P>
    </div>

  </section>
  <br>
  <section class="container principalContainerContacto">
    <div class="contactoContain item">
      <p class="center-align">Para consultas en general, escríbenos al correo tunafemenina@gmail.com o visita nuestra pagina en
        <a href="https://www.facebook.com/tunafemeninasanmarcos/">
          Facebook</a>
        Si eres postulante y tienes dudas o deseas contratarnos para algun evento, matrimonio, cumpleaños, aniversario, entre otros,
        escribenos a
        <a href="mailto:tunafemenina@gmail.com">tunafemenina@gmail.com</a>
      </p>
    </div>
  </section>

  <section class="container maps">
    
    <!--The div element for the map -->
    <div id="map"></div>
  </section>
  <br>




  <footer class="footer container-fluid">

    <div class="row">
      <div class=" col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <img class="logo" src="../assets/images/logo.png" alt="logotuna">
      </div>
      <div class="col-9 col-sm-9 col-md-9  col-lg-9 col-xl-9">
        <p class="FooterContacto ">
          <a href=""> Contáctanos</a>
        </p>

      </div>



    </div>

  </footer>
  <!--REDES SOCIALES-->


  <article class="contenedor-redes-sociales">
    <div class="icono">
      <a href="https://www.facebook.com/tunafemeninasanmarcos/" class="icono-primary" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.twitter.com/FormandoLaWeb" class="icono-primary color-twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.instagram.com/tunamujeres/" class="icono-primary color-googleplus" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </article>

  <!-- Compiled and minified JavaScript -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>
  <script src="../js/app.js "></script>
  <script src="../js/contacto.js "></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTpzb7m7AzAJBby53QGHt0tvwyCDjuU7g=initMap"></script>
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var uluru = { lat: -12.056067, lng: -77.086161 };
      // The map, centered at Uluru
      var map = new google.maps.Map(
        document.getElementById('map'), { zoom: 4, center: uluru });
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({ position: uluru, map: map });
    }

  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTpzb7m7AzAJBby53QGHt0tvwyCDjuU7g&callback=initMap">
  </script>

</body>

</html>