<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Unica+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../css/life.css">
  <title>Document</title>
</head>

<body class="life">

  <header id="menu" class="fixed-top">
    <ul class="nav justify-content-center">
      <li class=" titleTipeado d-block d-sm-none">TUNA FEMENINA DE SAN MARCOS</li>
      <li class="nav-item text-white d-none d-sm-block">
        <p id="caja" class="text-center title"></p>
      </li>
    </ul>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-warning btn-sm  ml-3  text-white" href=""> Contratos</a>
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-warning btn-sm  ml-3 text-white" href=""> Participa</a>
      </li>
    </ul>
    <ul class="nav justify-content-center  ">
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nosotras</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#Reseña">Reseña e Historia</a>
          <a class="dropdown-item" href="#vision">Mision y Vision</a>
          <a class="dropdown-item" href="#familia">Ahijadas</a>
          <a class="dropdown-item" href="#bitup">Certamen-Bitup</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link linkActive" href="#">Vida de tuna</a>

      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Contacto</a>
      </li>
    </ul>
  </header>
  <section class="container-fluid">
    <div id="container" class="black">
      <div id="result"></div>
      <button id="changecolor" class="cwhite"></button>
    </div>

  </section>
  
  <section class="container">

    <div class="row ">
      <div class=" containervideotestimony col-9 col-sm-9 col-md-7 col-lg-7 col-xl-7">
        <iframe class=" videoConvocatoria embed-responsive-item " height="315" src="https://www.youtube.com/embed/kWneKeoPg28" frameborder="0"
          allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4 class="text-center titleAhijadas">Nuestra mejor experiencia</h4>
        <p class="textExperience">Ser parte de la Tuna sera una de las mejores desiciones que tomaras, aquí no sólo encontraras un espacio musical,
          sino que seras parte de una fraternidad, compartiras momentos que haran tu vida Universitaria una experiencia única </p>

      </div>
      <div class=" news col-3 col-sm-3 col-md-4 col-lg-4 col-xl-4">
        <br>
        <h5 class="text-center"></h3>

          
      </div>

    </div>

  </section>
  <br>
  <br>

  <h3 class=" titleAhijadas  text-center">Integrantes</h3>
  <br>
  <section class="container">


    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?sport" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <img src="https://source.unsplash.com/370x270/?wild" alt="">
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?dance" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?outdoor" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?horse" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?wedding" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?water" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <img src="https://source.unsplash.com/370x270/?dog" alt="">
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?love" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?sky" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?earth" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?ocean" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?mountain" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <img src="https://source.unsplash.com/370x270/?car" alt="">
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?lion" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?safari" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?flag" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->
    <div class="box">
      <div class="image">
        <img src="https://source.unsplash.com/370x270/?map" alt="">
      </div>
      <!-- image -->
      <div class="content">
        <h2>Image Hover Effect</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ipsum.</p>
      </div>
      <!-- content -->
    </div>
    <!-- box -->

  </section>
  <!-- container -->



  <section class="sectionIntegrantes">
    <div id="app"></div>
  </section>
  <br>
  <br>
  <br>
  <footer class="footer container-fluid">

    <div class="row">
      <div class=" col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <img class="logo" src="../assets/images/logo.png" alt="logotuna">
      </div>
      <div class="col-9 col-sm-9 col-md-9  col-lg-9 col-xl-9">
        <p class="FooterContacto ">
          <a href=""> Contáctanos</a>
        </p>

      </div>



    </div>
    
  </footer>
  <!--REDES SOCIALES-->


  <article class="contenedor-redes-sociales">
    <div class="icono">
      <a href="https://www.facebook.com/tunafemeninasanmarcos/" class="icono-primary" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.twitter.com/FormandoLaWeb" class="icono-primary color-twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="icono">
      <a href="https://www.instagram.com/tunamujeres/" class="icono-primary color-googleplus" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </article>



  <!-- Compiled and minified JavaScript -->
  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN "
    crossorigin="anonymous "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q "
    crossorigin="anonymous "></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl "
    crossorigin="anonymous "></script>
  <script src="../js/app.js "></script>
  <script src=""></script>


</body>

</html>